body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline;
}

.top {
  background-color: green;
  height: 100%;
  width: 100%;
  display: flex;
}

.middle {
  background-color: yellow;
  height: 100%;
  width: 100%;
  display: flex;
}

.bottom {
  background-color: red;
  height: 100%;
  width: 100%;
  display: flex;
}
